@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";}
@model IEnumerable<UCMStore.Models.ProductModel>

<div>
    @Html.ActionLink("Add Product", "Add", "Product")
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Brand Name</th>
                <th>Accessories</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId </td>
                    <td>@item.Name </td>
                    <td>@Convert.ToDecimal(item.Price).ToString("0.##")</td>
                    <td>@item.BrandName </td>
                    <td>@item.IsAccessories </td>
                    <td><a href="@Url.Action("Update","Product",new { id=item.ProductId})">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>